<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
      <%= form.label :title, class:"form-label"%>
      <%= form.text_field :title, class:"form-control" %>
    <div id="emailHelp" class="form-text">Must be at least 8 characters long.</div>
  </div>
  <div class="mb-3">
      <%= form.label :content, class:"form-label"%>
      <%= form.text_area :content, class:"form-control", rows:10 %>
      <div id="emailHelp" class="form-text">Must be between 20 and 5000 characters long.</div>

  </div>

  <%= form.submit class:"btn btn-primary mb-3" %>
<% end %>
