<p id="notice"><%= notice %></p>
<h2 class="my-5">Articles</h2 class="my-5">
<div class="row">
  <% @articles.each do |article| %>
    <div class="col-3">
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <h6 class="card-subtitle mb-3 text-muted"><%= article.created_at.strftime("%B %d %Y, %l:%M%P") %></h6>
          <p class="card-text"><%= article.content.truncate(100) %></p>
          <%= link_to "Show More", article , class:"btn btn-dark"%>
          <%= link_to "Edit", edit_article_path(article) , class:"btn btn-dark"%>
        </div>
      </div>
    </div>
  <% end %>
</div>